%h1 Predictions (S &amp; P 500)
%h2 Long Only, Logistic Regression (LR), Naive Bayes (NB)
%br/
.predictions
  =render 'predictions'

/ broken %img(src="/img/plot2018.png")

%pre
  %code.rpt
    / broken rpt =render "btests/acc_eff2018"
=render '/layouts/bottom_links'
