%h1 Predictions

.predictions
  =render 'predictions'

%img(src="/img/plot2016.png")

%pre
  %code.rpt
    =render "btests/acc_eff2016"
%hr/

.my-bottom-nav
  %a(href="/")            spy611.com
  %a(href="/about")       About
  %a(href="/blog")        Blog
  %a(href="/contact")     Contact
  %a(href="/backtests")   Backtests
  %a(href="/predictions") Predictions
