%h1 Predictions (S &amp; P 500)
%h2 Long Only, Logistic Regression (LR), Naive Bayes (NB)
%br/
.predictions
  =render 'predictions'

%img(src="/img/plot2017.png")

%pre
  %code.rpt
    =render "btests/acc_eff2017"
=render '/layouts/bottom_links'
