%h1 Predictions
%h2 Logistic Regression (LR), Naive Bayes (NB)
%br/
.predictions
  =render 'predictions'

%img(src="/img/plot2016.png")

%pre
  %code.rpt
    =render "btests/acc_eff2016"
=render '/layouts/bottom_links'
