%h1 Predictions

.predictions
  =render 'predictions'

%hr/
.my-bottom-nav
  %a(href="/")            spy611.com
  %a(href="/about")       About
  %a(href="/blog")        Blog
  %a(href="/contact")     Contact
  %a(href="/backtests")   Backtests
  %a(href="/predictions") Predictions
