<table>
  <thead>
    <tr style="text-align: right;">
      <th>Date</th>
      <th>Closing Price</th>
      <th>Pct. Lag 1Day</th>
      <th>Pct. Lead 1Day is Effectiveness 1Day(Long Only)</th>
      <th>Actual Direction</th>
      <th>Positive Probability(LR)</th>
      <th>Predicted Direction(LR)</th>
      <th>Predicted Direction(NB)</th>
      <th>Accuracy(LR)</th>
      <th>Accuracy(NB)</th>
      <th>Effectiveness 1Day(LR)</th>
      <th>Effectiveness 1Day(NB)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2017-01-26</td>
      <td>2296.88</td>
      <td>-0.065</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>0.4947</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <td>2017-01-25</td>
      <td>2298.37</td>
      <td>0.803</td>
      <td>-0.065</td>
      <td>Negative</td>
      <td>0.4831</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.065</td>
      <td>0.065</td>
    </tr>
    <tr>
      <td>2017-01-24</td>
      <td>2280.07</td>
      <td>0.656</td>
      <td>0.803</td>
      <td>Positive</td>
      <td>0.4954</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.803</td>
      <td>-0.803</td>
    </tr>
    <tr>
      <td>2017-01-23</td>
      <td>2265.2</td>
      <td>-0.269</td>
      <td>0.656</td>
      <td>Positive</td>
      <td>0.5059</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.656</td>
      <td>-0.656</td>
    </tr>
    <tr>
      <td>2017-01-20</td>
      <td>2271.31</td>
      <td>0.337</td>
      <td>-0.269</td>
      <td>Negative</td>
      <td>0.4981</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.269</td>
      <td>0.269</td>
    </tr>
    <tr>
      <td>2017-01-19</td>
      <td>2263.69</td>
      <td>-0.361</td>
      <td>0.337</td>
      <td>Positive</td>
      <td>0.5106</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.337</td>
      <td>-0.337</td>
    </tr>
    <tr>
      <td>2017-01-18</td>
      <td>2271.89</td>
      <td>0.176</td>
      <td>-0.361</td>
      <td>Negative</td>
      <td>0.5005</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.361</td>
      <td>0.361</td>
    </tr>
    <tr>
      <td>2017-01-17</td>
      <td>2267.89</td>
      <td>-0.297</td>
      <td>0.176</td>
      <td>Positive</td>
      <td>0.5063</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.176</td>
      <td>-0.176</td>
    </tr>
    <tr>
      <td>2017-01-13</td>
      <td>2274.64</td>
      <td>0.185</td>
      <td>-0.297</td>
      <td>Negative</td>
      <td>0.4948</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.297</td>
      <td>0.297</td>
    </tr>
    <tr>
      <td>2017-01-12</td>
      <td>2270.44</td>
      <td>-0.214</td>
      <td>0.185</td>
      <td>Positive</td>
      <td>0.4897</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.185</td>
      <td>-0.185</td>
    </tr>
    <tr>
      <td>2017-01-11</td>
      <td>2275.32</td>
      <td>0.283</td>
      <td>-0.214</td>
      <td>Negative</td>
      <td>0.4890</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.214</td>
      <td>0.214</td>
    </tr>
    <tr>
      <td>2017-01-10</td>
      <td>2268.9</td>
      <td>0.0</td>
      <td>0.283</td>
      <td>Positive</td>
      <td>0.4968</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.283</td>
      <td>-0.283</td>
    </tr>
    <tr>
      <td>2017-01-09</td>
      <td>2268.9</td>
      <td>-0.355</td>
      <td>0.0</td>
      <td>Negative</td>
      <td>0.5075</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.0</td>
      <td>-0.0</td>
    </tr>
    <tr>
      <td>2017-01-06</td>
      <td>2276.98</td>
      <td>0.352</td>
      <td>-0.355</td>
      <td>Negative</td>
      <td>0.4975</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.355</td>
      <td>0.355</td>
    </tr>
    <tr>
      <td>2017-01-05</td>
      <td>2269.0</td>
      <td>-0.077</td>
      <td>0.352</td>
      <td>Positive</td>
      <td>0.4995</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.352</td>
      <td>-0.352</td>
    </tr>
    <tr>
      <td>2017-01-04</td>
      <td>2270.75</td>
      <td>0.572</td>
      <td>-0.077</td>
      <td>Negative</td>
      <td>0.4889</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.077</td>
      <td>0.077</td>
    </tr>
    <tr>
      <td>2017-01-03</td>
      <td>2257.83</td>
      <td>0.849</td>
      <td>0.572</td>
      <td>Positive</td>
      <td>0.4970</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.572</td>
      <td>-0.572</td>
    </tr>
  </tbody>
</table>