<table>
  <thead>
    <tr style="text-align: right;">
      <th>Date</th>
      <th>Closing Price</th>
      <th>Pct. Lag 1Day</th>
      <th>Pct. Lead 1Day is Effectiveness 1Day(Long Only)</th>
      <th>Actual Direction</th>
      <th>Positive Probability(LR)</th>
      <th>Predicted Direction(LR)</th>
      <th>Predicted Direction(NB)</th>
      <th>Accuracy(LR)</th>
      <th>Accuracy(NB)</th>
      <th>Effectiveness 1Day(LR)</th>
      <th>Effectiveness 1Day(NB)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2018-01-19</td>
      <td>2810.3</td>
      <td>0.439</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>0.4824</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <td>2018-01-18</td>
      <td>2798.03</td>
      <td>-0.162</td>
      <td>0.439</td>
      <td>Positive</td>
      <td>0.4891</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.439</td>
      <td>-0.439</td>
    </tr>
    <tr>
      <td>2018-01-17</td>
      <td>2802.56</td>
      <td>0.942</td>
      <td>-0.162</td>
      <td>Negative</td>
      <td>0.4724</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.162</td>
      <td>0.162</td>
    </tr>
    <tr>
      <td>2018-01-16</td>
      <td>2776.42</td>
      <td>-0.352</td>
      <td>0.942</td>
      <td>Positive</td>
      <td>0.4886</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.942</td>
      <td>-0.942</td>
    </tr>
    <tr>
      <td>2018-01-12</td>
      <td>2786.24</td>
      <td>0.675</td>
      <td>-0.352</td>
      <td>Negative</td>
      <td>0.4613</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.352</td>
      <td>0.352</td>
    </tr>
    <tr>
      <td>2018-01-11</td>
      <td>2767.56</td>
      <td>0.703</td>
      <td>0.675</td>
      <td>Positive</td>
      <td>0.4604</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.675</td>
      <td>-0.675</td>
    </tr>
    <tr>
      <td>2018-01-10</td>
      <td>2748.23</td>
      <td>-0.111</td>
      <td>0.703</td>
      <td>Positive</td>
      <td>0.4870</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.703</td>
      <td>-0.703</td>
    </tr>
    <tr>
      <td>2018-01-09</td>
      <td>2751.29</td>
      <td>0.13</td>
      <td>-0.111</td>
      <td>Negative</td>
      <td>0.4834</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.111</td>
      <td>0.111</td>
    </tr>
    <tr>
      <td>2018-01-08</td>
      <td>2747.71</td>
      <td>0.166</td>
      <td>0.13</td>
      <td>Positive</td>
      <td>0.4811</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.13</td>
      <td>-0.13</td>
    </tr>
    <tr>
      <td>2018-01-05</td>
      <td>2743.15</td>
      <td>0.703</td>
      <td>0.166</td>
      <td>Positive</td>
      <td>0.4792</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.166</td>
      <td>-0.166</td>
    </tr>
    <tr>
      <td>2018-01-04</td>
      <td>2723.99</td>
      <td>0.403</td>
      <td>0.703</td>
      <td>Positive</td>
      <td>0.4846</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.703</td>
      <td>-0.703</td>
    </tr>
    <tr>
      <td>2018-01-03</td>
      <td>2713.06</td>
      <td>0.64</td>
      <td>0.403</td>
      <td>Positive</td>
      <td>0.4800</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.403</td>
      <td>-0.403</td>
    </tr>
    <tr>
      <td>2018-01-02</td>
      <td>2695.81</td>
      <td>0.83</td>
      <td>0.64</td>
      <td>Positive</td>
      <td>0.4909</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.64</td>
      <td>-0.64</td>
    </tr>
  </tbody>
</table>