<table>
  <thead>
    <tr style="text-align: right;">
      <th>Date</th>
      <th>Closing Price</th>
      <th>Pct. Lag 1Day</th>
      <th>Pct. Lead 1Day</th>
      <th>Actual Direction</th>
      <th>Positive Probability(LR)</th>
      <th>Predicted Direction(LR)</th>
      <th>Predicted Direction(NB)</th>
      <th>Accuracy(LR)</th>
      <th>Accuracy(NB)</th>
      <th>Effectiveness 1Day(LR)</th>
      <th>Effectiveness 1Day(NB)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2016-06-29</td>
      <td>2070.58</td>
      <td>1.694</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>0.4487</td>
      <td>Negative</td>
      <td>Positive</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <td>2016-06-28</td>
      <td>2036.09</td>
      <td>1.777</td>
      <td>1.694</td>
      <td>Positive</td>
      <td>0.4956</td>
      <td>Negative</td>
      <td>Positive</td>
      <td>False Negative</td>
      <td>True Positive</td>
      <td>-1.694</td>
      <td>1.694</td>
    </tr>
    <tr>
      <td>2016-06-27</td>
      <td>2000.54</td>
      <td>-1.804</td>
      <td>1.777</td>
      <td>Positive</td>
      <td>0.5675</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>1.777</td>
      <td>1.777</td>
    </tr>
    <tr>
      <td>2016-06-24</td>
      <td>2037.3</td>
      <td>-3.597</td>
      <td>-1.804</td>
      <td>Negative</td>
      <td>0.5471</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-1.804</td>
      <td>-1.804</td>
    </tr>
    <tr>
      <td>2016-06-23</td>
      <td>2113.32</td>
      <td>1.336</td>
      <td>-3.597</td>
      <td>Negative</td>
      <td>0.4775</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>3.597</td>
      <td>3.597</td>
    </tr>
    <tr>
      <td>2016-06-22</td>
      <td>2085.45</td>
      <td>-0.165</td>
      <td>1.336</td>
      <td>Positive</td>
      <td>0.5076</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>1.336</td>
      <td>-1.336</td>
    </tr>
    <tr>
      <td>2016-06-21</td>
      <td>2088.9</td>
      <td>0.271</td>
      <td>-0.165</td>
      <td>Negative</td>
      <td>0.5079</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.165</td>
      <td>0.165</td>
    </tr>
    <tr>
      <td>2016-06-20</td>
      <td>2083.25</td>
      <td>0.581</td>
      <td>0.271</td>
      <td>Positive</td>
      <td>0.5138</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.271</td>
      <td>-0.271</td>
    </tr>
    <tr>
      <td>2016-06-17</td>
      <td>2071.22</td>
      <td>-0.326</td>
      <td>0.581</td>
      <td>Positive</td>
      <td>0.5197</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.581</td>
      <td>-0.581</td>
    </tr>
    <tr>
      <td>2016-06-16</td>
      <td>2077.99</td>
      <td>0.313</td>
      <td>-0.326</td>
      <td>Negative</td>
      <td>0.5095</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.326</td>
      <td>0.326</td>
    </tr>
    <tr>
      <td>2016-06-15</td>
      <td>2071.5</td>
      <td>-0.184</td>
      <td>0.313</td>
      <td>Positive</td>
      <td>0.5111</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.313</td>
      <td>0.313</td>
    </tr>
    <tr>
      <td>2016-06-14</td>
      <td>2075.32</td>
      <td>-0.18</td>
      <td>-0.184</td>
      <td>Negative</td>
      <td>0.5177</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-0.184</td>
      <td>-0.184</td>
    </tr>
    <tr>
      <td>2016-06-13</td>
      <td>2079.06</td>
      <td>-0.812</td>
      <td>-0.18</td>
      <td>Negative</td>
      <td>0.5270</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-0.18</td>
      <td>-0.18</td>
    </tr>
    <tr>
      <td>2016-06-10</td>
      <td>2096.07</td>
      <td>-0.918</td>
      <td>-0.812</td>
      <td>Negative</td>
      <td>0.5179</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-0.812</td>
      <td>-0.812</td>
    </tr>
    <tr>
      <td>2016-06-09</td>
      <td>2115.48</td>
      <td>-0.172</td>
      <td>-0.918</td>
      <td>Negative</td>
      <td>0.5020</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.918</td>
      <td>0.918</td>
    </tr>
    <tr>
      <td>2016-06-08</td>
      <td>2119.12</td>
      <td>0.331</td>
      <td>-0.172</td>
      <td>Negative</td>
      <td>0.4887</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.172</td>
      <td>0.172</td>
    </tr>
    <tr>
      <td>2016-06-07</td>
      <td>2112.13</td>
      <td>0.129</td>
      <td>0.331</td>
      <td>Positive</td>
      <td>0.4927</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.331</td>
      <td>-0.331</td>
    </tr>
    <tr>
      <td>2016-06-06</td>
      <td>2109.41</td>
      <td>0.49</td>
      <td>0.129</td>
      <td>Positive</td>
      <td>0.4872</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.129</td>
      <td>-0.129</td>
    </tr>
    <tr>
      <td>2016-06-03</td>
      <td>2099.13</td>
      <td>-0.291</td>
      <td>0.49</td>
      <td>Positive</td>
      <td>0.4817</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.49</td>
      <td>-0.49</td>
    </tr>
    <tr>
      <td>2016-06-02</td>
      <td>2105.26</td>
      <td>0.282</td>
      <td>-0.291</td>
      <td>Negative</td>
      <td>0.4761</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.291</td>
      <td>0.291</td>
    </tr>
    <tr>
      <td>2016-06-01</td>
      <td>2099.33</td>
      <td>0.114</td>
      <td>0.282</td>
      <td>Positive</td>
      <td>0.4774</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.282</td>
      <td>-0.282</td>
    </tr>
    <tr>
      <td>2016-05-31</td>
      <td>2096.95</td>
      <td>-0.101</td>
      <td>0.114</td>
      <td>Positive</td>
      <td>0.4833</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.114</td>
      <td>-0.114</td>
    </tr>
    <tr>
      <td>2016-05-27</td>
      <td>2099.06</td>
      <td>0.429</td>
      <td>-0.101</td>
      <td>Negative</td>
      <td>0.4856</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.101</td>
      <td>0.101</td>
    </tr>
    <tr>
      <td>2016-05-26</td>
      <td>2090.1</td>
      <td>-0.021</td>
      <td>0.429</td>
      <td>Positive</td>
      <td>0.4959</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.429</td>
      <td>-0.429</td>
    </tr>
    <tr>
      <td>2016-05-25</td>
      <td>2090.54</td>
      <td>0.697</td>
      <td>-0.021</td>
      <td>Negative</td>
      <td>0.4713</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.021</td>
      <td>0.021</td>
    </tr>
    <tr>
      <td>2016-05-24</td>
      <td>2076.06</td>
      <td>1.368</td>
      <td>0.697</td>
      <td>Positive</td>
      <td>0.4836</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.697</td>
      <td>-0.697</td>
    </tr>
    <tr>
      <td>2016-05-23</td>
      <td>2048.04</td>
      <td>-0.209</td>
      <td>1.368</td>
      <td>Positive</td>
      <td>0.5063</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>1.368</td>
      <td>-1.368</td>
    </tr>
    <tr>
      <td>2016-05-20</td>
      <td>2052.32</td>
      <td>0.602</td>
      <td>-0.209</td>
      <td>Negative</td>
      <td>0.5064</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.209</td>
      <td>0.209</td>
    </tr>
    <tr>
      <td>2016-05-19</td>
      <td>2040.04</td>
      <td>-0.371</td>
      <td>0.602</td>
      <td>Positive</td>
      <td>0.5108</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.602</td>
      <td>-0.602</td>
    </tr>
    <tr>
      <td>2016-05-18</td>
      <td>2047.63</td>
      <td>0.021</td>
      <td>-0.371</td>
      <td>Negative</td>
      <td>0.5078</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-0.371</td>
      <td>-0.371</td>
    </tr>
    <tr>
      <td>2016-05-17</td>
      <td>2047.21</td>
      <td>-0.941</td>
      <td>0.021</td>
      <td>Positive</td>
      <td>0.5022</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.021</td>
      <td>0.021</td>
    </tr>
    <tr>
      <td>2016-05-16</td>
      <td>2066.66</td>
      <td>0.98</td>
      <td>-0.941</td>
      <td>Negative</td>
      <td>0.4819</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.941</td>
      <td>0.941</td>
    </tr>
    <tr>
      <td>2016-05-13</td>
      <td>2046.61</td>
      <td>-0.848</td>
      <td>0.98</td>
      <td>Positive</td>
      <td>0.5168</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.98</td>
      <td>0.98</td>
    </tr>
    <tr>
      <td>2016-05-12</td>
      <td>2064.11</td>
      <td>-0.017</td>
      <td>-0.848</td>
      <td>Negative</td>
      <td>0.5177</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.848</td>
      <td>0.848</td>
    </tr>
    <tr>
      <td>2016-05-11</td>
      <td>2064.46</td>
      <td>-0.956</td>
      <td>-0.017</td>
      <td>Negative</td>
      <td>0.5060</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.017</td>
      <td>0.017</td>
    </tr>
    <tr>
      <td>2016-05-10</td>
      <td>2084.39</td>
      <td>1.248</td>
      <td>-0.956</td>
      <td>Negative</td>
      <td>0.4852</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.956</td>
      <td>0.956</td>
    </tr>
    <tr>
      <td>2016-05-09</td>
      <td>2058.69</td>
      <td>0.075</td>
      <td>1.248</td>
      <td>Positive</td>
      <td>0.5123</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>1.248</td>
      <td>-1.248</td>
    </tr>
    <tr>
      <td>2016-05-06</td>
      <td>2057.14</td>
      <td>0.317</td>
      <td>0.075</td>
      <td>Positive</td>
      <td>0.5063</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.075</td>
      <td>-0.075</td>
    </tr>
    <tr>
      <td>2016-05-05</td>
      <td>2050.63</td>
      <td>-0.024</td>
      <td>0.317</td>
      <td>Positive</td>
      <td>0.5194</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.317</td>
      <td>0.317</td>
    </tr>
    <tr>
      <td>2016-05-04</td>
      <td>2051.12</td>
      <td>-0.594</td>
      <td>-0.024</td>
      <td>Negative</td>
      <td>0.5311</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-0.024</td>
      <td>-0.024</td>
    </tr>
    <tr>
      <td>2016-05-03</td>
      <td>2063.37</td>
      <td>-0.868</td>
      <td>-0.594</td>
      <td>Negative</td>
      <td>0.5155</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-0.594</td>
      <td>-0.594</td>
    </tr>
    <tr>
      <td>2016-05-02</td>
      <td>2081.43</td>
      <td>0.781</td>
      <td>-0.868</td>
      <td>Negative</td>
      <td>0.5045</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.868</td>
      <td>0.868</td>
    </tr>
    <tr>
      <td>2016-04-29</td>
      <td>2065.3</td>
      <td>-0.506</td>
      <td>0.781</td>
      <td>Positive</td>
      <td>0.5307</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.781</td>
      <td>0.781</td>
    </tr>
    <tr>
      <td>2016-04-28</td>
      <td>2075.81</td>
      <td>-0.923</td>
      <td>-0.506</td>
      <td>Negative</td>
      <td>0.5199</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-0.506</td>
      <td>-0.506</td>
    </tr>
    <tr>
      <td>2016-04-27</td>
      <td>2095.15</td>
      <td>0.165</td>
      <td>-0.923</td>
      <td>Negative</td>
      <td>0.4951</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.923</td>
      <td>0.923</td>
    </tr>
    <tr>
      <td>2016-04-26</td>
      <td>2091.7</td>
      <td>0.187</td>
      <td>0.165</td>
      <td>Positive</td>
      <td>0.4959</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.165</td>
      <td>-0.165</td>
    </tr>
    <tr>
      <td>2016-04-25</td>
      <td>2087.79</td>
      <td>-0.181</td>
      <td>0.187</td>
      <td>Positive</td>
      <td>0.5001</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.187</td>
      <td>-0.187</td>
    </tr>
    <tr>
      <td>2016-04-22</td>
      <td>2091.58</td>
      <td>0.005</td>
      <td>-0.181</td>
      <td>Negative</td>
      <td>0.4938</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.181</td>
      <td>0.181</td>
    </tr>
    <tr>
      <td>2016-04-21</td>
      <td>2091.48</td>
      <td>-0.519</td>
      <td>0.005</td>
      <td>Positive</td>
      <td>0.4895</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.005</td>
      <td>-0.005</td>
    </tr>
    <tr>
      <td>2016-04-20</td>
      <td>2102.4</td>
      <td>0.076</td>
      <td>-0.519</td>
      <td>Negative</td>
      <td>0.4793</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.519</td>
      <td>0.519</td>
    </tr>
    <tr>
      <td>2016-04-19</td>
      <td>2100.8</td>
      <td>0.308</td>
      <td>0.076</td>
      <td>Positive</td>
      <td>0.4716</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.076</td>
      <td>-0.076</td>
    </tr>
    <tr>
      <td>2016-04-18</td>
      <td>2094.34</td>
      <td>0.654</td>
      <td>0.308</td>
      <td>Positive</td>
      <td>0.4911</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.308</td>
      <td>-0.308</td>
    </tr>
    <tr>
      <td>2016-04-15</td>
      <td>2080.73</td>
      <td>-0.098</td>
      <td>0.654</td>
      <td>Positive</td>
      <td>0.4979</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.654</td>
      <td>-0.654</td>
    </tr>
    <tr>
      <td>2016-04-14</td>
      <td>2082.78</td>
      <td>0.017</td>
      <td>-0.098</td>
      <td>Negative</td>
      <td>0.4948</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.098</td>
      <td>0.098</td>
    </tr>
    <tr>
      <td>2016-04-13</td>
      <td>2082.42</td>
      <td>1.004</td>
      <td>0.017</td>
      <td>Positive</td>
      <td>0.4847</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.017</td>
      <td>-0.017</td>
    </tr>
    <tr>
      <td>2016-04-12</td>
      <td>2061.72</td>
      <td>0.966</td>
      <td>1.004</td>
      <td>Positive</td>
      <td>0.4886</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-1.004</td>
      <td>-1.004</td>
    </tr>
    <tr>
      <td>2016-04-11</td>
      <td>2041.99</td>
      <td>-0.274</td>
      <td>0.966</td>
      <td>Positive</td>
      <td>0.5132</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.966</td>
      <td>-0.966</td>
    </tr>
    <tr>
      <td>2016-04-08</td>
      <td>2047.6</td>
      <td>0.279</td>
      <td>-0.274</td>
      <td>Negative</td>
      <td>0.5092</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.274</td>
      <td>0.274</td>
    </tr>
    <tr>
      <td>2016-04-07</td>
      <td>2041.91</td>
      <td>-1.198</td>
      <td>0.279</td>
      <td>Positive</td>
      <td>0.5030</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.279</td>
      <td>0.279</td>
    </tr>
    <tr>
      <td>2016-04-06</td>
      <td>2066.66</td>
      <td>1.051</td>
      <td>-1.198</td>
      <td>Negative</td>
      <td>0.4854</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>1.198</td>
      <td>1.198</td>
    </tr>
    <tr>
      <td>2016-04-05</td>
      <td>2045.17</td>
      <td>-1.014</td>
      <td>1.051</td>
      <td>Positive</td>
      <td>0.5132</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>1.051</td>
      <td>1.051</td>
    </tr>
    <tr>
      <td>2016-04-04</td>
      <td>2066.13</td>
      <td>-0.321</td>
      <td>-1.014</td>
      <td>Negative</td>
      <td>0.5011</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-1.014</td>
      <td>1.014</td>
    </tr>
    <tr>
      <td>2016-04-01</td>
      <td>2072.78</td>
      <td>0.633</td>
      <td>-0.321</td>
      <td>Negative</td>
      <td>0.4980</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.321</td>
      <td>0.321</td>
    </tr>
    <tr>
      <td>2016-03-31</td>
      <td>2059.74</td>
      <td>-0.204</td>
      <td>0.633</td>
      <td>Positive</td>
      <td>0.5072</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.633</td>
      <td>-0.633</td>
    </tr>
    <tr>
      <td>2016-03-30</td>
      <td>2063.95</td>
      <td>0.435</td>
      <td>-0.204</td>
      <td>Negative</td>
      <td>0.4867</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.204</td>
      <td>0.204</td>
    </tr>
    <tr>
      <td>2016-03-29</td>
      <td>2055.01</td>
      <td>0.882</td>
      <td>0.435</td>
      <td>Positive</td>
      <td>0.4798</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.435</td>
      <td>-0.435</td>
    </tr>
    <tr>
      <td>2016-03-28</td>
      <td>2037.05</td>
      <td>0.055</td>
      <td>0.882</td>
      <td>Positive</td>
      <td>0.4909</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.882</td>
      <td>-0.882</td>
    </tr>
    <tr>
      <td>2016-03-24</td>
      <td>2035.94</td>
      <td>-0.038</td>
      <td>0.055</td>
      <td>Positive</td>
      <td>0.5007</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.055</td>
      <td>-0.055</td>
    </tr>
    <tr>
      <td>2016-03-23</td>
      <td>2036.71</td>
      <td>-0.639</td>
      <td>-0.038</td>
      <td>Negative</td>
      <td>0.5084</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>False Positive</td>
      <td>True Negative</td>
      <td>-0.038</td>
      <td>0.038</td>
    </tr>
    <tr>
      <td>2016-03-22</td>
      <td>2049.8</td>
      <td>-0.088</td>
      <td>-0.639</td>
      <td>Negative</td>
      <td>0.4864</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.639</td>
      <td>0.639</td>
    </tr>
    <tr>
      <td>2016-03-21</td>
      <td>2051.6</td>
      <td>0.099</td>
      <td>-0.088</td>
      <td>Negative</td>
      <td>0.4814</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.088</td>
      <td>0.088</td>
    </tr>
    <tr>
      <td>2016-03-18</td>
      <td>2049.58</td>
      <td>0.441</td>
      <td>0.099</td>
      <td>Positive</td>
      <td>0.4685</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.099</td>
      <td>-0.099</td>
    </tr>
    <tr>
      <td>2016-03-17</td>
      <td>2040.59</td>
      <td>0.66</td>
      <td>0.441</td>
      <td>Positive</td>
      <td>0.4802</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.441</td>
      <td>-0.441</td>
    </tr>
    <tr>
      <td>2016-03-16</td>
      <td>2027.22</td>
      <td>0.56</td>
      <td>0.66</td>
      <td>Positive</td>
      <td>0.4982</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.66</td>
      <td>-0.66</td>
    </tr>
    <tr>
      <td>2016-03-15</td>
      <td>2015.93</td>
      <td>-0.184</td>
      <td>0.56</td>
      <td>Positive</td>
      <td>0.5059</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.56</td>
      <td>-0.56</td>
    </tr>
    <tr>
      <td>2016-03-14</td>
      <td>2019.64</td>
      <td>-0.126</td>
      <td>-0.184</td>
      <td>Negative</td>
      <td>0.4895</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.184</td>
      <td>0.184</td>
    </tr>
    <tr>
      <td>2016-03-11</td>
      <td>2022.19</td>
      <td>1.64</td>
      <td>-0.126</td>
      <td>Negative</td>
      <td>0.4679</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.126</td>
      <td>0.126</td>
    </tr>
    <tr>
      <td>2016-03-10</td>
      <td>1989.57</td>
      <td>0.016</td>
      <td>1.64</td>
      <td>Positive</td>
      <td>0.4703</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-1.64</td>
      <td>-1.64</td>
    </tr>
    <tr>
      <td>2016-03-09</td>
      <td>1989.26</td>
      <td>0.505</td>
      <td>0.016</td>
      <td>Positive</td>
      <td>0.4898</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.016</td>
      <td>-0.016</td>
    </tr>
    <tr>
      <td>2016-03-08</td>
      <td>1979.26</td>
      <td>-1.124</td>
      <td>0.505</td>
      <td>Positive</td>
      <td>0.5110</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.505</td>
      <td>-0.505</td>
    </tr>
    <tr>
      <td>2016-03-07</td>
      <td>2001.76</td>
      <td>0.089</td>
      <td>-1.124</td>
      <td>Negative</td>
      <td>0.4799</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>1.124</td>
      <td>1.124</td>
    </tr>
    <tr>
      <td>2016-03-04</td>
      <td>1999.99</td>
      <td>0.331</td>
      <td>0.089</td>
      <td>Positive</td>
      <td>0.4811</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.089</td>
      <td>-0.089</td>
    </tr>
    <tr>
      <td>2016-03-03</td>
      <td>1993.4</td>
      <td>0.35</td>
      <td>0.331</td>
      <td>Positive</td>
      <td>0.4903</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.331</td>
      <td>-0.331</td>
    </tr>
    <tr>
      <td>2016-03-02</td>
      <td>1986.45</td>
      <td>0.409</td>
      <td>0.35</td>
      <td>Positive</td>
      <td>0.4576</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.35</td>
      <td>-0.35</td>
    </tr>
    <tr>
      <td>2016-03-01</td>
      <td>1978.35</td>
      <td>2.387</td>
      <td>0.409</td>
      <td>Positive</td>
      <td>0.4617</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.409</td>
      <td>-0.409</td>
    </tr>
    <tr>
      <td>2016-02-29</td>
      <td>1932.23</td>
      <td>-0.812</td>
      <td>2.387</td>
      <td>Positive</td>
      <td>0.5167</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>2.387</td>
      <td>-2.387</td>
    </tr>
    <tr>
      <td>2016-02-26</td>
      <td>1948.05</td>
      <td>-0.187</td>
      <td>-0.812</td>
      <td>Negative</td>
      <td>0.4707</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.812</td>
      <td>0.812</td>
    </tr>
    <tr>
      <td>2016-02-25</td>
      <td>1951.7</td>
      <td>1.135</td>
      <td>-0.187</td>
      <td>Negative</td>
      <td>0.4472</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.187</td>
      <td>0.187</td>
    </tr>
    <tr>
      <td>2016-02-24</td>
      <td>1929.8</td>
      <td>0.444</td>
      <td>1.135</td>
      <td>Positive</td>
      <td>0.4549</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-1.135</td>
      <td>-1.135</td>
    </tr>
    <tr>
      <td>2016-02-23</td>
      <td>1921.27</td>
      <td>-1.245</td>
      <td>0.444</td>
      <td>Positive</td>
      <td>0.4684</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.444</td>
      <td>-0.444</td>
    </tr>
    <tr>
      <td>2016-02-22</td>
      <td>1945.5</td>
      <td>1.445</td>
      <td>-1.245</td>
      <td>Negative</td>
      <td>0.4472</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>1.245</td>
      <td>1.245</td>
    </tr>
    <tr>
      <td>2016-02-19</td>
      <td>1917.78</td>
      <td>-0.003</td>
      <td>1.445</td>
      <td>Positive</td>
      <td>0.4878</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-1.445</td>
      <td>-1.445</td>
    </tr>
    <tr>
      <td>2016-02-18</td>
      <td>1917.83</td>
      <td>-0.467</td>
      <td>-0.003</td>
      <td>Negative</td>
      <td>0.4977</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.003</td>
      <td>0.003</td>
    </tr>
    <tr>
      <td>2016-02-17</td>
      <td>1926.82</td>
      <td>1.648</td>
      <td>-0.467</td>
      <td>Negative</td>
      <td>0.4786</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.467</td>
      <td>0.467</td>
    </tr>
    <tr>
      <td>2016-02-16</td>
      <td>1895.58</td>
      <td>1.652</td>
      <td>1.648</td>
      <td>Positive</td>
      <td>0.4778</td>
      <td>Negative</td>
      <td>Positive</td>
      <td>False Negative</td>
      <td>True Positive</td>
      <td>-1.648</td>
      <td>1.648</td>
    </tr>
    <tr>
      <td>2016-02-12</td>
      <td>1864.78</td>
      <td>1.952</td>
      <td>1.652</td>
      <td>Positive</td>
      <td>0.5060</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>1.652</td>
      <td>-1.652</td>
    </tr>
    <tr>
      <td>2016-02-11</td>
      <td>1829.08</td>
      <td>-1.23</td>
      <td>1.952</td>
      <td>Positive</td>
      <td>0.5608</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>1.952</td>
      <td>1.952</td>
    </tr>
    <tr>
      <td>2016-02-10</td>
      <td>1851.86</td>
      <td>-0.019</td>
      <td>-1.23</td>
      <td>Negative</td>
      <td>0.5297</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-1.23</td>
      <td>-1.23</td>
    </tr>
    <tr>
      <td>2016-02-09</td>
      <td>1852.21</td>
      <td>-0.066</td>
      <td>-0.019</td>
      <td>Negative</td>
      <td>0.5201</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-0.019</td>
      <td>-0.019</td>
    </tr>
    <tr>
      <td>2016-02-08</td>
      <td>1853.44</td>
      <td>-1.415</td>
      <td>-0.066</td>
      <td>Negative</td>
      <td>0.5376</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-0.066</td>
      <td>-0.066</td>
    </tr>
    <tr>
      <td>2016-02-05</td>
      <td>1880.05</td>
      <td>-1.848</td>
      <td>-1.415</td>
      <td>Negative</td>
      <td>0.5254</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-1.415</td>
      <td>-1.415</td>
    </tr>
    <tr>
      <td>2016-02-04</td>
      <td>1915.45</td>
      <td>0.153</td>
      <td>-1.848</td>
      <td>Negative</td>
      <td>0.4676</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>1.848</td>
      <td>1.848</td>
    </tr>
    <tr>
      <td>2016-02-03</td>
      <td>1912.53</td>
      <td>0.499</td>
      <td>0.153</td>
      <td>Positive</td>
      <td>0.5122</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>True Positive</td>
      <td>False Negative</td>
      <td>0.153</td>
      <td>-0.153</td>
    </tr>
    <tr>
      <td>2016-02-02</td>
      <td>1903.03</td>
      <td>-1.874</td>
      <td>0.499</td>
      <td>Positive</td>
      <td>0.5159</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.499</td>
      <td>0.499</td>
    </tr>
    <tr>
      <td>2016-02-01</td>
      <td>1939.38</td>
      <td>-0.044</td>
      <td>-1.874</td>
      <td>Negative</td>
      <td>0.4467</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>1.874</td>
      <td>1.874</td>
    </tr>
    <tr>
      <td>2016-01-29</td>
      <td>1940.24</td>
      <td>2.476</td>
      <td>-0.044</td>
      <td>Negative</td>
      <td>0.4412</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.044</td>
      <td>0.044</td>
    </tr>
    <tr>
      <td>2016-01-28</td>
      <td>1893.36</td>
      <td>0.553</td>
      <td>2.476</td>
      <td>Positive</td>
      <td>0.4847</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-2.476</td>
      <td>-2.476</td>
    </tr>
    <tr>
      <td>2016-01-27</td>
      <td>1882.95</td>
      <td>-1.086</td>
      <td>0.553</td>
      <td>Positive</td>
      <td>0.5195</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.553</td>
      <td>0.553</td>
    </tr>
    <tr>
      <td>2016-01-26</td>
      <td>1903.63</td>
      <td>1.414</td>
      <td>-1.086</td>
      <td>Negative</td>
      <td>0.4892</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>1.086</td>
      <td>1.086</td>
    </tr>
    <tr>
      <td>2016-01-25</td>
      <td>1877.08</td>
      <td>-1.564</td>
      <td>1.414</td>
      <td>Positive</td>
      <td>0.5244</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>1.414</td>
      <td>1.414</td>
    </tr>
    <tr>
      <td>2016-01-22</td>
      <td>1906.9</td>
      <td>2.028</td>
      <td>-1.564</td>
      <td>Negative</td>
      <td>0.4701</td>
      <td>Negative</td>
      <td>Positive</td>
      <td>True Negative</td>
      <td>False Positive</td>
      <td>1.564</td>
      <td>-1.564</td>
    </tr>
    <tr>
      <td>2016-01-21</td>
      <td>1868.99</td>
      <td>0.52</td>
      <td>2.028</td>
      <td>Positive</td>
      <td>0.5060</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>2.028</td>
      <td>2.028</td>
    </tr>
    <tr>
      <td>2016-01-20</td>
      <td>1859.33</td>
      <td>-1.169</td>
      <td>0.52</td>
      <td>Positive</td>
      <td>0.5395</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.52</td>
      <td>0.52</td>
    </tr>
    <tr>
      <td>2016-01-19</td>
      <td>1881.33</td>
      <td>0.053</td>
      <td>-1.169</td>
      <td>Negative</td>
      <td>0.5476</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-1.169</td>
      <td>-1.169</td>
    </tr>
    <tr>
      <td>2016-01-15</td>
      <td>1880.33</td>
      <td>-2.16</td>
      <td>0.053</td>
      <td>Positive</td>
      <td>0.5637</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.053</td>
      <td>0.053</td>
    </tr>
    <tr>
      <td>2016-01-14</td>
      <td>1921.84</td>
      <td>1.67</td>
      <td>-2.16</td>
      <td>Negative</td>
      <td>0.5366</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-2.16</td>
      <td>-2.16</td>
    </tr>
    <tr>
      <td>2016-01-13</td>
      <td>1890.28</td>
      <td>-2.497</td>
      <td>1.67</td>
      <td>Positive</td>
      <td>0.5843</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>1.67</td>
      <td>1.67</td>
    </tr>
    <tr>
      <td>2016-01-12</td>
      <td>1938.68</td>
      <td>0.78</td>
      <td>-2.497</td>
      <td>Negative</td>
      <td>0.5293</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-2.497</td>
      <td>-2.497</td>
    </tr>
    <tr>
      <td>2016-01-11</td>
      <td>1923.67</td>
      <td>0.085</td>
      <td>0.78</td>
      <td>Positive</td>
      <td>0.5514</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.78</td>
      <td>0.78</td>
    </tr>
    <tr>
      <td>2016-01-08</td>
      <td>1922.03</td>
      <td>-1.084</td>
      <td>0.085</td>
      <td>Positive</td>
      <td>0.5733</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.085</td>
      <td>0.085</td>
    </tr>
    <tr>
      <td>2016-01-07</td>
      <td>1943.09</td>
      <td>-2.37</td>
      <td>-1.084</td>
      <td>Negative</td>
      <td>0.5759</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-1.084</td>
      <td>-1.084</td>
    </tr>
    <tr>
      <td>2016-01-06</td>
      <td>1990.26</td>
      <td>-1.312</td>
      <td>-2.37</td>
      <td>Negative</td>
      <td>0.5368</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-2.37</td>
      <td>-2.37</td>
    </tr>
    <tr>
      <td>2016-01-05</td>
      <td>2016.71</td>
      <td>0.201</td>
      <td>-1.312</td>
      <td>Negative</td>
      <td>0.5072</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>False Positive</td>
      <td>False Positive</td>
      <td>-1.312</td>
      <td>-1.312</td>
    </tr>
    <tr>
      <td>2016-01-04</td>
      <td>2012.66</td>
      <td>-1.53</td>
      <td>0.201</td>
      <td>Positive</td>
      <td>0.5249</td>
      <td>Positive</td>
      <td>Positive</td>
      <td>True Positive</td>
      <td>True Positive</td>
      <td>0.201</td>
      <td>0.201</td>
    </tr>
  </tbody>
</table>