<table>
  <thead>
    <tr style="text-align: right;">
      <th>Date</th>
      <th>Closing Price</th>
      <th>Pct. Lag 1Day</th>
      <th>Pct. Lead 1Day is Effectiveness 1Day(Long Only)</th>
      <th>Actual Direction</th>
      <th>Positive Probability(LR)</th>
      <th>Predicted Direction(LR)</th>
      <th>Predicted Direction(NB)</th>
      <th>Accuracy(LR)</th>
      <th>Accuracy(NB)</th>
      <th>Effectiveness 1Day(LR)</th>
      <th>Effectiveness 1Day(NB)</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>2017-01-09</td>
      <td>2268.9</td>
      <td>-0.355</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>0.5075</td>
      <td>Positive</td>
      <td>Negative</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>Unknown</td>
      <td>Unknown</td>
    </tr>
    <tr>
      <td>2017-01-06</td>
      <td>2276.98</td>
      <td>0.352</td>
      <td>-0.355</td>
      <td>Negative</td>
      <td>0.4975</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.355</td>
      <td>0.355</td>
    </tr>
    <tr>
      <td>2017-01-05</td>
      <td>2269.0</td>
      <td>-0.077</td>
      <td>0.352</td>
      <td>Positive</td>
      <td>0.4995</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.352</td>
      <td>-0.352</td>
    </tr>
    <tr>
      <td>2017-01-04</td>
      <td>2270.75</td>
      <td>0.572</td>
      <td>-0.077</td>
      <td>Negative</td>
      <td>0.4889</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>True Negative</td>
      <td>True Negative</td>
      <td>0.077</td>
      <td>0.077</td>
    </tr>
    <tr>
      <td>2017-01-03</td>
      <td>2257.83</td>
      <td>0.849</td>
      <td>0.572</td>
      <td>Positive</td>
      <td>0.4970</td>
      <td>Negative</td>
      <td>Negative</td>
      <td>False Negative</td>
      <td>False Negative</td>
      <td>-0.572</td>
      <td>-0.572</td>
    </tr>
  </tbody>
</table>