
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top:    9px;
    padding-bottom: 5px;
}

h1,h2,h3 {padding-left: 11px;}

body p {
    padding-left: 11px;
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #003300;
    font-weight: bold;
}

body li{
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #003300;
    font-weight: bold;
}


body a.body_a{
    font-family: sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    color: #0275d8;
    font-weight: bold;
}


body a.body_a:hover {
  background-color: #EEEEEE;
  color: #BB0000; 
}

.rpt{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #330000;
    font-weight: bold;
}

pre {
    padding-left: 11px;
    background-color: #DDDDDD;
}

code.software{
    font-size: 1.5rem;
    line-height: 1.5;
    color: #330000;
    font-weight: bold;
}


/* rounded corners in css3 */
.round_corner15px {border-radius: 15px;}


.my-bottom-nav {
    background-color: #373a3c;
}

.my-bottom-nav a{
    color: white;
    font-size: 1.3rem;
    line-height: 1.5;
    margin-left: 33px;
}

.my-bottom-nav a:hover{
    background-color: #EEEEEE;
    color: #BB0000; 
}

.predictions > table tr:nth-child(even) {
  background-color: #EEEEEE; }

.predictions > table {
    border-color: black;
    border-style: solid;
    border-width: 2px;
    margin-left: 20px;
}

.predictions > table th,td {
    border-color: black;
    border-style: solid;
    border-width: 1px;
    padding:      3px;
    font-size:    1.2rem;
    line-height:  1.5;
    color:        black;
    font-weight:  bold;
}

#rickshaw_legend {
        display: inline-block;
        vertical-align: top;
        margin: 0 0 0 10px;
}
#rickshaw_legend .label{color: white;}
    
#chart_container {
        position: relative;
        display: inline-block;
        font-family: Arial, Helvetica, sans-serif;
}
