%h1 Software

%p
  This page gives you information about how to run this website on your laptop.
%p
  Perhaps more importantly, I provide information about how to run the machine learning software.

%ul
  %li I started with a windows laptop.
  %li I replaced windows with Ubuntu 16.04:
  %li 
    %a(href='http://releases.ubuntu.com/16.04/ubuntu-16.04-desktop-amd64.iso' target='x')
      http://releases.ubuntu.com/16.04/ubuntu-16.04-desktop-amd64.iso

  %li After installation, I enhanced Ubuntu with apt-get shell commands:

%pre.round_corner15px
  %code.software
    sudo apt-get update
    sudo apt-get upgrade
    
    sudo apt-get install autoconf bison build-essential libssl-dev libyaml-dev \
    libreadline6-dev zlib1g-dev libncurses5-dev libffi-dev libgdbm3       \
    libgdbm-dev libsqlite3-dev gitk postgresql postgresql-server-dev-all  \
    libpq-dev emacs wget curl chromium-browser openssh-server aptitude    \
    ruby ruby-dev sqlite3
