%h1 Aggbt#index
%p Find me in app/views/aggbt/index.html.haml

#chart

%link(type="text/css" rel="stylesheet" href="/rickshaw.min.css")
%script(src="/d3/d3.js")
%script(src="/rickshaw.min.js")
:javascript
  d3.csv('/csv/mypredictions.csv')
    .row(function(d) {
      mydate = new Date(d.cdate)
      myudate = parseInt((new Date(d.cdate).getTime() / 1000).toFixed(0))
      myfloat = parseFloat(d.cp)
      return {'x':myudate,'y':myfloat}
    })
    .get(function(error, rows) {
      // I should use a loop here to bump up mymin to larger value.
      mymin = 1000.0
      rows.forEach(function(row){
        if (row.y < mymin) {
          mymin = row.y
        }
      })
      var graph = new Rickshaw.Graph( {
        min: 0.95 * mymin,
        element: document.querySelector("#chart"),
        renderer: 'line',
        width: 985, 
        height: 280, 
        series: [{
            color: 'steelblue',
            data: rows
        }]
      })
      var xAxis = new Rickshaw.Graph.Axis.Time({
        graph: graph
      })
      graph.render()
      xAxis.render();
    })



