%h1 Aggbt#index
%p Find me in app/views/aggbt/index.html.haml

#chart
#previewSlider

%link(type="text/css" rel="stylesheet" href="/rickshaw.min.css")
%script(src="/d3/d3.js")
%script(src="/rickshaw.min.js")
:javascript
  // I should use d3.js to convert CSV file to array called rows
  d3.csv('/csv/allpredictions.csv')
    // I should use row() to format each row in rows.
    .row(function(d) {
      mydate  = new Date(d.cdate)
      myudate = parseInt((new Date(d.cdate).getTime() / 1000).toFixed(0))
      cp      = parseFloat(d.cp)
      // Rickshaw.js likes objects in this format:
      return {'x':myudate,'y':cp}
    })
    .get(function(error, rows) {
      // I should access rows inside this function.
      mymin = 1000.0
      // I should use a loop here to bump up mymin to larger value.
      rows.forEach(function(row){
        if (row.y < mymin) {
          mymin = row.y
        }
      })
      var graph = new Rickshaw.Graph( {
        // I should us mymin here to give graph a better look:
        min: 0.95 * mymin,
        element: document.querySelector("#chart"),
        renderer: 'line',
        width: 1000, 
        height: 680, 
        series: [{
            color: 'steelblue',
            data: rows
        }]
      })
      var xAxis = new Rickshaw.Graph.Axis.Time({
        graph: graph
      })
      var yAxis = new Rickshaw.Graph.Axis.Y({
        graph: graph,
        tickFormat: Rickshaw.Fixtures.Number.formatKMBT
      })
      var previewSlider = new Rickshaw.Graph.RangeSlider.Preview({
        graph: graph,
        element: document.querySelector("#previewSlider")
      })
      graph.render()
      xAxis.render()
      yAxis.render()
    })



