%h1 Aggbt#index
%p Find me in app/views/aggbt/index.html.haml

%script(src="/d3/d3.js")

:javascript
  d3.csv('/csv/mypredictions.csv')
    .row(function(d) {
      return {'cdate':d.cdate,'cp':d.cp}
    })
    .get(function(error, rows) {
      rows
      console.log(rows)
    })

