.container-fluid
  .row
    .col-md-12
      %h2 About
      %hr/
      %p
        This site was created by Dan Bikle in 2014. Dan wanted to present an interesting use-case to
        students focused on the task of learning software development and data science.

      %p
        Also the site articulates a business idea: What is the best way to present an ability to predict the future?

      %p
        Dan believes that a good way to present this ability is to deliver three pieces of information:
      %ul
        %li
          %p
            Describe and display the software used to create the predictions. A sceptic would then
            be able to independently verify the power of the predictive software.

        %li
          %p
            Display effective visualizations of the predictions of the software after it trains 
            on 30 years of observations between 1950 and 1980 and then predicts 1981.
            Then duplicate this visualization for years 1982 through the present year.

        %li
          %p
            Display the most recent predictions of the software at 10 minutes before market close (12:50 PM California Time) so that you may act on the predictions before the market closes.

      %p
        Dan has studied other sites which issue stock market predictions and he has found none which offer these three pieces of information.

      %p
        If you have questions, contact Dan: bikle101@gmail.com
  =render '/layouts/bottom_links'
