.container-fluid
  .row
    .col-md-12
      %h2 Backtests
      %hr/
      %p
        This site uses backtests to study the accuracy and effectiveness of simple machine learning models on S &amp; P 500 data.


      %p
        If a backtest suggests that a model issues effective predictions on past data, obviously that does not mean the model can predict the future.

      %p
        If, however, a model issues ineffective predictions on past data, I would not want to use that model to predict future S &amp; P 500 behavior.

      %p If you have questions, contact Dan: bikle101@gmail.com

  %hr/
  %a.body_a(href='/btests/2010') -> 2010
  %a.body_a(href='/btests/2011') | 2011
  %a.body_a(href='/btests/2012') | 2012
  %a.body_a(href='/btests/2013') | 2013
  %a.body_a(href='/btests/2014') | 2014
  %a.body_a(href='/btests/2015') | 2015
  %a.body_a(href='/btests/2016') | 2016
  %hr/

  %footer
    %p &copy; spy611.com 1999-3000
