.container-fluid
  .row
    .col-md-12
      %h2 Backtests
      %hr/
      %p
        This site uses backtests to study the accuracy and effectiveness of simple machine learning models on S &amp; P 500 data.

      %p
        If a backtest suggests that a model issues effective predictions on past data, obviously that does not mean the model can predict the future.

      %p
        If, however, a model issues ineffective predictions on past data, I would not want to use that model to predict future S &amp; P 500 behavior.

      %p If you have questions, contact Dan: bikle101@gmail.com

  %hr/

  %a.body_a(href='/btests/1981') -> 1981
  %a.body_a(href='/btests/1982') | 1982
  %a.body_a(href='/btests/1983') | 1983
  %a.body_a(href='/btests/1984') | 1984
  %a.body_a(href='/btests/1985') | 1985
  %a.body_a(href='/btests/1986') | 1986
  %a.body_a(href='/btests/1987') | 1987
  %a.body_a(href='/btests/1988') | 1988
  %a.body_a(href='/btests/1989') | 1989
  %a.body_a(href='/btests/1990') | 1990
  %a.body_a(href='/btests/1991') | 1991
  %a.body_a(href='/btests/1992') | 1992
  %a.body_a(href='/btests/1993') | 1993
  %a.body_a(href='/btests/1994') | 1994
  %a.body_a(href='/btests/1995') | 1995
  %a.body_a(href='/btests/1996') | 1996
  %a.body_a(href='/btests/1997') | 1997
  %a.body_a(href='/btests/1998') | 1998
  %a.body_a(href='/btests/1999') | 1999
  %a.body_a(href='/btests/2000') | 2000
  %a.body_a(href='/btests/2001') | 2001
  %a.body_a(href='/btests/2002') | 2002
  %a.body_a(href='/btests/2003') | 2003
  %a.body_a(href='/btests/2004') | 2004
  %a.body_a(href='/btests/2005') | 2005
  %a.body_a(href='/btests/2006') | 2006
  %a.body_a(href='/btests/2007') | 2007
  %a.body_a(href='/btests/2008') | 2008
  %a.body_a(href='/btests/2009') | 2009
  %a.body_a(href='/btests/2010') | 2010
  %a.body_a(href='/btests/2011') | 2011
  %a.body_a(href='/btests/2012') | 2012
  %a.body_a(href='/btests/2013') | 2013
  %a.body_a(href='/btests/2014') | 2014
  %a.body_a(href='/btests/2015') | 2015
  %a.body_a(href='/btests/2016') | 2016
  %a.body_a(href='/btests/2017') | 2017

  %hr/

  %footer
    %p &copy; spy611.com 1999-3000
