.container-fluid
  .row
    .col-md-12
      %h2 Blog
      %hr/
      %p 2016-05-12
      %p Dan Bikle bikle101@gmail.com
      %p What makes the stock market predictable?
      %p Over the long term (duration greater than one month), the market will go up because wealthy people will want power more than money.
      %p The most obvious example of this are the people who own companies like FaceBook, Google, and Apple.
      %p They have all the money they need to bring security to their families.  The next obvious thing they could want would be power.
      %p Additionally, once they gain enough power at executive board levels, they can use corporate resources to borrow money to buy back stock.
      %p Stock buy-backs bolster the value of stocks and reward wealthy people who use wealth to purchase corporate power.
      %p Over the short term (duration of one day), the market is predictable probably due to greed.
      %p It is easy to verify using ordinary SQL that the market demonstrates reversion to mean after it has fallen more than say 1%.
      %p I susepect that many optimistic people watch the market closely and wait for opportunities to 'buy-on-the- dip'.

  %hr/
  %footer
    %p &copy; tsds4.us 1999-3000
