.container-fluid
  .row
    .col-md-12
      %h2 Blog
      %hr/
      %p 2016-05-12
      %p Dan Bikle: bikle101@gmail.com
      %p What makes the stock market predictable?
      %p Over the long term (duration greater than one month), the market will go up because wealthy people will want power more than money.
      %p The most obvious example of this are the people who own companies like FaceBook, Google, and Apple.
      %p They have all the money they need to bring security to their families.  The next obvious thing they could want would be control over corporations.
      %p Additionally, once they gain enough power at executive and board levels, they can use corporate resources to borrow money to buy back stock.
      %p Stock buy-backs bolster the value of stocks and reward wealthy people who use wealth to purchase corporate power.  To the Electrical Engineer in me, this behavior looks like a positive feedback loop.  In this case the loop is driven by money and stock rather than electricity.
      %p Also age-old wisdom says that stock ownership represents an ability share in profits via dividends.  I know many people who buy stocks for the dividends.


      %p In my mind it makes sense for me to hold a dividend paying stock valued by wealthy people more than keeping my money in a bond or savings account which pays very little interest.

      %p To me, it seems easy to predict the stock market over any one month interval; the market will probably go up.

      %p Over the short term (duration of one day), the market is predictable probably due to greed.
      %p It is easy to verify using ordinary SQL that the market demonstrates mean-reversion after it has fallen more than say 1% in a day.
      %p I suspect that many optimistic people watch the market closely and wait for opportunities to 'buy-on-the- dip'.
      %p I see less evidence of mean reversion after sharp moves up by the market.  Perhaps sharp moves up make people feel prosperous and less inclined to sell.

      %p On most days the market is quieter than what would be predicted by a Gaussian distribution.  On these quiet days I often wonder what will happen on the next day.  The software and ideas presented in this site help me gauge the probabilities associated with these quiet days.

  =render '/layouts/bottom_links'
