
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <h2>bikle101@gmail.com</h2>
      <p>Contact Dan Bikle. He teaches and practices Time Series Data Science. </p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; tsds4.us 1999-3000</p>
  </footer>
</div> <!-- /container -->

