
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-12">
      <p>bikle101@gmail.com</p>
      <img src='/img/danbikle.jpg'>
      <p>Contact Dan Bikle. He teaches and practices Time Series Data Science. </p>
      <p>For a modest cost, Dan can setup and operate Machine Learning applications for you.</p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; spy611.com 1999-3000</p>
  </footer>
</div> <!-- /container -->

