
<div class="container-fluid">
  <!-- Example row of columns -->
  <div class="row">
    <div class="col-md-4">
      <h2>2016</h2>
      
<p>
For 2016, Naive-Bayes has been too Bearish. Logistic-Regression, however, seems to work well on 2016 predictions.
</p>
      <p><a class="btn btn-secondary" href="/btests/2016" role="button">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
      <h2>2015</h2>
      
<p>
For 2015 Both Naive-Bayes and Logistic-Regression worked well.
</p>
      <p><a class="btn btn-secondary" href="/btests/2015" role="button">View details &raquo;</a></p>
   </div>
    <div class="col-md-4">
      <h2>2014</h2>
      
<p>
For 2014 Both Naive-Bayes and Logistic-Regression did poorly.  Both algorithms were too bearish.
When they did issue bullish predictions in 2014, those predictions proved to be effective.
</p>
      <p><a class="btn btn-secondary" href="/btests/2014" role="button">View details &raquo;</a></p>
    </div>
  </div>

  <hr>

  <footer>
    <p>&copy; spy611.com 1999-3000</p>
  </footer>
</div> <!-- /container -->

