%hr
.my-bottom-nav
  %a(href="/")            spy611.com
  %a(href="/about")       About
  %a(href="/blog")        Blog
  %a(href="/contact")     Contact
  %a(href="/backtests")   Backtests
  %a(href="/aggbt")       Aggregated-Backtests
  %a(href="/predictions") Predictions
  %a(href="/software")    Software

%hr/
%footer
  %p &copy; spy611.com 1999-3000
